{
  "env": {
    "test": {
      "presets": [
        "@babel/preset-flow",
        [
          "@babel/preset-env",
          {
            "shippedProposals": true,
            "useBuiltIns": "usage"
          }
        ],
        "@babel/preset-stage-0",
        "@babel/preset-react"
      ]
    },
    "production": {
      "plugins": [
        "external-helpers"
      ],
      "presets": [
        "flow",
        [
          "@babel/preset-env",
          {
            "shippedProposals": true,
            "useBuiltIns": "usage",
            "targets": {
              "browsers": [
                "last 2 Chrome versions"
              ]
            },
            "modules": false
          }
        ],
        "@babel/preset-stage-0",
        "@babel/preset-react"
      ]
    }
  }
}